@model List<Cachorro>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sexo</th>
            <th scope="col">Cor</th>
            <th scope="col">Raça</th>
            <th scope="col">Castrado</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Tutor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CachorroId</th>
                <th scope="row">@item.Nome</th>
                <th scope="row">@item.Sexo</th>
                <th scope="row">@item.Cor</th>
                <th scope="row">@item.Raca</th>
                <th scope="row">@(item.Castrado?"Sim":"Não")</th>
                <th scope="row">@item.DataNascimento.ToShortDateString()</th>
                <th scope="row">@item.Tutor.Nome)</th>
                <th>
                    <a asp-action="editar" asp-route-id="@item.CachorroId" class="btn btn-primary btn-sm">Editar</a>
                    <button onClick="idCachorro.value = @item.CachorroId" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Remover
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>

<a asp-action="cadastrar" class="btn btn-success btn-lg">Cadastrar</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que quer remover o cachorro?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="idCachorro" />
                    <button type="submit" class="btn btn-danger">Sim</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                </form>
            </div>
        </div>
    </div>
</div>